<section class = "card text-center text-white border-light">
        <div class="card-body">
                <h2> Trainer Name: <%=@search_user.trainer_name%> </h2>
                <p>  Joined with the ID#<%=@search_user.id%> </p>
                <p> <%=@search_user.created_at.localtime.strftime("Joined on: %m/%d/%Y at %I:%M%p")%></p>

                <% if @search_user.last_name == "" %>
                    <h3> First Name: N/A </h3>
                <% end %>

                <% if @search_user.first_name == "" %>
                    <h3> Last Name: N/A </h3>
                <% end %>

                <% if @search_user.password == "" %>
                    <h4> Password: Nice try guy. </h4> 
                <% end %>
                
                <% if @search_user.email == "" %> 
                    <h5> Email: Probably doesn't have one? </h5>
                <% end %>

                <% if @search_user.birthday == nil %>
                    <h6> Birthday: Was probably never born :( </h6>
                    
                <% else %>
                    <h3> Real Name: <%=@search_user.first_name%> <%=@search_user.last_name%></h3>
                    <h4> Password: Nice try guy. </h4>
                    <%if session[:user_id] == @search_user.id%>
                        <h5> Email: <%=@search_user.email%></h5>
                    <%end%>
                    <h6> Birthday: <%=@search_user.birthday.localtime.strftime("%m/%d/%Y at %I:%M%p")%> <h6>

                <% end %>
        <%if session[:user_id] == @search_user.id%>
            <form action="/delete/<%=@search_user.id%>" method="post">
                <input type="submit" value="Delete Profile">  
            </form>
        <% end %>  
        </div>
</section>

<%for post in @posts.reverse%>
    <% if post.user_id == @search_user.id %>
    <section class = "card text-center text-white border-light">
        <div class="card-body">
          <h2> Author: <%=User.find(post.user_id).trainer_name%>
          <h3> Title: <%=post.title%></h3>
          <h5><%=post.content%></h5>
          <p>Post Number: #<%=post.id%> <%=post.created_at.localtime.strftime("created on %m/%d/%Y at %I:%M%p")%></p>
          
          <% if @user != nil %>
          <% if post.user_id == @user.id%>
          <form action="/profile/delete_post/<%=post.id%>" method="post">
                <input id ="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Post"> 
          </form>
        </div>
        <% end %>
        <% end %>
    </section>
    <% end %>
<% end %>