<section class = "card text-center text-white border-light">
    <div class="card-body">
        <p>Hey <%=@user.trainer_name%>, welcome to the PokeJournal site! </p>
    </div>
</section>

<section class = "card text-center text-white border-light">
    <div class="card-body">
        <a href="/create-post" class="btn btn-primary">Create a new post!</a>
    </div>
</section>

<%for post in @posts.reverse%>
    <section class = "card text-center text-white border-light">
        <div class="card-body">
          <h2> Author: <%=User.find(post.user_id).trainer_name%>
          <h3> Title: <%=post.title%></h3>
          <h5><%=post.content%></h5>
          <p>Post Number: #<%=post.id%> <%=post.created_at.localtime.strftime("created on %m/%d/%Y at %I:%M%p")%></p>
        </div>
    </section>
<% end %>